@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


img {
  max-width: 100%;
}

#webcam {
  position: fixed;
  border-radius: 15px;
  top: 15px;
  right: 15px; 
  height: 20%;
  width: 20%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
}

#gesture-canvas {
  position: fixed;
  right: 15px;
  top: 15px;
  height: 20%;
  width: 20%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
  z-index: 9;
}


#webcam-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 20%;
  /* background: royalblue; */
}
#defaultCanvas0 {
  @apply mx-auto mt-2;
}

